*{
	margin: 0px;
	padding: 0px;
	overflow: none;
	font-size: 18px;
	color: #333;
}
.container{
	max-width: 900px;
	margin: 0 auto;
}

/* -- NAVIGATION BAR / STRIPE / BAND -- */
.navbar-band{
	height: 50px;
	color: #2fc12f;
	background-color: #dedede;
	width: 100%;
	position: fixed;
	z-index: 10;
}
.flex{
	display: flex;
}
.navbar .logo a{
	display: block;
	width: 150px;
	padding: 10px;
	text-decoration: none;
	font-family: helvetica, arial;
	font-size: 30px;
	font-weight: bold;

}

.navbar div ul li{
	float: left;
	list-style: none;
	text-decoration: none;
	font-family: helvetica, arial;

}

.navbar div ul li:hover{
	background-color: #404040;
	transition: 0.1s;
}
.navbar div ul li a:hover{
	color: #f5f5f5;
	transition: 0.1s;

}
.navbar div ul li a{
	display: block;
	text-decoration: none;
	padding: 15px 10px;
	margin: 0px 5px;
}
.box-1{
	flex: 2;
}
.box-2{
	flex: 2;
}

/* welcome text */
.welcome{
	height: 600px;
}
.welcomebg{
	border-bottom: 3px solid #E44424;
	border-top: 3px solid #E44424;
}
.message{
	position: absolute;
	top: 30%;
	right: 35%;
}
.welcome .message h1{
	text-align: center;
	font-family: helvetica, arial;
	color: #404040;
	font-size: 50px;
}
.welcome .message h2{
	text-align: center;
	font-family: helvetica, arial;
	color: #404040;
	font-size: 40px;
}

.welcome .message h2 span{
	text-align: center;
	font-family: helvetica, arial;
	color: ;
	font-size: 50px;
}


/* -- CONTENT -- */

.content{
	display: flex;
}
.content1, .content4, .content7, .content10{
	border: 1px solid #404040;
	height: 200px;
	flex: 4;
	margin: 5px;


}
.content2, .content3, .content5, .content12{
	border: 1px solid #404040;
	height: 200px;
	flex: 3;
	margin: 5px;
}

.content6, .content8, .content9, .content11{
	border: 1px solid #404040;
	height: 200px;
	flex: 2;
	margin: 5px;
}



.content1:hover, .content2:hover, .content3:hover, .content4:hover, .content5:hover, .content6:hover, .content7:hover, .content8:hover, .content9:hover, .content10:hover, .content11:hover, .content12:hover{
	cursor: pointer;
	transition: 0.3s;
	transform: scale(1.04); /*edit this number to see zoom effets.
	NOTE : 1 = nothing happens; 0.9 = zooms out; 1.1 = zooms in*/
}
